doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  body
    h2.mt-3.text-center  Send SMS
    .container.mt-4(style='width: 50%;')
      form(method='post' action='/')
        .form-group.row
          label.col-sm-2.col-form-label(htmlfor='name') Name:
          .col-sm-10
            input.form-control#name(type='text' placeholder='Enter First Name' name='name')
        .form-group.row
          label.col-sm-2.col-form-label(htmlfor='phone') Phone:
          .col-sm-10
            input.form-control#phone(type='text' placeholder='Enter phone' name='phone')
        .form-group.row
          label.col-sm-2.col-form-label(htmlfor='comment') comment:
          .col-sm-10
            textarea.form-control#comment(type='text' placeholder='Write message' name='comment')
        .form-group.row
          .col-sm-10
            button.btn.btn-primary(type='submit') Submit
    script(src='https://code.jquery.com/jquery-3.4.1.js' integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=' crossorigin='anonymous')
    script(src='js/SMSApp.js')
